*{
    /* border: 1px solid red; */
    color: white;
    cursor: pointer;
}
/*layout*/
body{
    background: url(ori.jpg);
}
.dummy{
    margin-top: 30vh;
}
.main1{
    height: 25vh;
    margin: 30px;
    
}
.main2{
    height: 25vh;
    margin: 30px;
    margin-top: 90px;
}

.header{
    height: 20vh;
    
}
/*layout*/

/*header*/
.img1{
    height: 60px;
    width: 60px;
    border-radius: 100px;
}
.one{
    margin-top: 5vh;
    width: 230px;
    margin-left:20px ;
}
.img2,.img3{
    height: 36px;
}
.two,.three{
    margin: 5vh;
}
.two :hover{
    opacity: 1;
    transform: scale(1.3);
}

/*header*/

/*MAIN1*/
.main1>:hover{
    border:2px solid green;
    border-radius: 10px;
    opacity: 1;
    transform: scale(1.5);
}
.img4{
    border-radius: 10px;
}

/*MAIN1*/

.main2>:hover{
    border:2px solid green;
    border-radius: 10px;
    opacity: 1;
    transform: scale(1.1);
}
